extends layout

block content
  div.container
   div.jumbotron.col-sm-9
    h1 Link Shortener
    p Register now, shorten your URL and track individual link analytics
   div.col-sm-3
    h2 Sign in
    form.form-horizontal
      div.form-group
        div.col-sm-12
         input#email.form-control(type='email',placeholder='Enter email')
      div.form-group
        div.col-sm-12
         input#pwd.form-control(type='password',placeholder='Enter password')
      div.form-group
        div.col-sm-12
         button.btn.btn-success.btn-block(type='submit') Sign in
    h2 Sing up
    form.form-horizontal
      div.form-group
        div.col-sm-12
         input#email-reg.form-control(type='text',placeholder='Login')
      div.form-group
        div.col-sm-12
         input#email-reg.form-control(type='email',placeholder='Enter email')
      div.form-group
        div.col-sm-12
         input#pwd-reg.form-control(type='password',placeholder='Enter password')
      div.form-group
        div.col-sm-12
         input#pwd-reg.form-control(type='password',placeholder='Confirm password')
      div.form-group
        div.col-sm-12
         button.btn.btn-primary.btn-block(type='submit') Sign up
