extends layout


block content
 .container
  .navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
     .navbar-header
       button.collapsed.navbar-toggle(type='button', data-toggle='collapse',  data-target='#bs-example-navbar-collapse-9', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
       a.navbar-brand(href='/') Link Shortener
      #bs-example-navbar-collapse-9.collapse.navbar-collapse
       ul.nav.navbar-nav
        li
         a(href='/') Home
        li
         a(href='/list') List
  .jumbotron.col-sm-9
    div(ng-view)
   include auth