body {
  padding: 50px;
  background: #EEEEEE;
  
}

a {
  color: #0000FF;
}

.break-all {
	word-break: break-all;
}
.center {
	text-align: center;
}

#add-btn {
    margin: 18px 29px;
}

.tagblock {
    margin: 0 28px;
}

.tag-group {
    margin: 10px 2px;
}

.alerts-wrap {
    margin: 30px;
}